<div>
    <app-barra-navegacion class="pb-5"></app-barra-navegacion>
    <main class="page landing-page pt-4">
        <section class="clean-block clean-hero"
            style="color: rgba(9,162,255,0);background: url(&quot;assets/img/norbert-toth-I1oL89qxefc-unsplash-830x625.jpg&quot;);">
            <div class="text">
                <h2>Book Store SA</h2>
                <p>Somos una Empresa Guatemalteca dedicada a la ventas de libros de todo tipo</p>
                <!-- <button class="btn btn-outline-light btn-lg" type="button" style="color: rgb(13,14,14);background: #ffffff;" (click)="irLogin()">
                    Login
                </button> -->
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Informacion</h2>
                    <p>Book Store SA nos gusta leer libros</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/image7.jpg"></div>
                    <div class="col-md-6">
                        <h3>¿Porque leer libros?</h3>
                        <div class="getting-started-info">
                            <p>La lectura aumenta la comprensión, atención, observación, concentración, reflexión / pensamiento crítico y memoria de las personas. La lectura de libros nos hace más inteligentes. La lectura despierta la curiosidad y alimenta la imaginación. Leer activa la inspiración, imaginación y el surgimiento de ideas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Herraminetas importantes para la elaboracion del proyecto</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                        <h4>Bootstrap 4</h4>
                        <p>Diseña y personaliza rápidamente sitios receptivos para dispositivos móviles, el kit de herramientas de código abierto de front-end más popular del mundo, que presenta variables y mixins de Sass, sistema de cuadrícula receptivo, amplios componentes prediseñados y potentes complementos de JavaScript.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                        <h4>Angular</h4>
                        <p>Angular es un marco de diseño de aplicaciones y una plataforma de desarrollo para crear aplicaciones de una sola página eficientes y sofisticadas.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Docker</h4>
                        <p>Docker es un proyecto de código abierto que automatiza el despliegue de aplicaciones dentro de contenedores de software, proporcionando una capa adicional de abstracción y automatización de virtualización de aplicaciones en múltiples sistemas operativos.​</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>Jenkins</h4>
                        <p>Jenkins es un servidor de automatización open source escrito en Java. Está basado en el proyecto Hudson y es, dependiendo de la visión, un fork del proyecto o simplemente un cambio de nombre.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>Node js</h4>
                        <p>Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p>Somos el Grupo 4&nbsp; y somos un grupo entusiasmado por seguir aprendiendo en el cursos de
                        software avanzado impartido en vacaciones de junio 2021</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4 pb-2">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                src="assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Randolph Muy</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-2">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                src="assets/img/avatars/avatar2.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Luis Manuel</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-2">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                src="assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Jhonatan Lopez</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-2">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                src="assets/img/avatars/avatar2.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Rafael</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 pb-2">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                src="assets/img/avatars/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Steve</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>
